## SpritzSnake
data
AnalysisFolder
tmp
STAR*
SnpEff
ensembl
ChromosomeMappings
.snakemake
snpEffDatabases.txt
human.proteome.xml
ptmlist.txt
PSI-MOD.obo.xml
fast.tmp
*.svg
.snakemake
ag\

## Visual Studio
bin\
obj\
*.vspx
.vs\
