<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net462" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net452" />
  <package id="mzLib" version="1.0.264" targetFramework="net462" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net452" />
  <package id="NetBioCore.PCL" version="2.0.150722" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net452" />
</packages>